<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        label, input {
            display: block;
        }
    </style>
</head>
<body>
    <h1>Login</h1>
    <% if (locals.loginErrorMsgs) { %>
        <p>Something is wrong or invalid</p>
        <p><%= locals.loginErrorMsgs %></p>
    <% } %>
    <form action="/login" method="POST">
        <label for="username">Username:</label>
        <input name="username" type="text" required>
        <label for="password">Password:</label>
        <input name="password" type="password" required>
        <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a href="/sign-up">Sign Up Here</a></p>
</body>
</html>