<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="/css/login.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h1>Login</h1>
    <div class="errors-container"> 
        <% if (locals.loginErrorMsgs) { %>
            <p>Something is wrong or invalid</p>
            <p><%= locals.loginErrorMsgs %></p>
        <% } %>
    </div>
    <form action="/login" method="POST" class="login-form">
        <div>
            <label for="username">Username:</label>
            <input name="username" type="text" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input name="password" type="password" required>
        </div>
        <button type="submit">Login</button>
    </form>
    <p class="sign-up-redirect">Don't have an account? <a href="/sign-up">Sign Up Here</a></p>
</body>
</html>