<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secret Password</title>
    <link href="/css/secret-password.css" rel="stylesheet" type="text/css">
</head>
<body>
    <% if (locals.user) {%>
        <% if (locals.err) { %>
            <%= locals.err %>
        <% }%>    
        <form action="/secret-password" method="POST">
            <label for="secret-password">Enter secret password:</label>
            <input type="text" name="secret-password" required>
            <button type="submit">Enter</button>
        </form>
    <% } else { %>
        <h3>not a member. login to become VIP.</h3>
        <a href="/login">login here</a>
    <% } %>
    <p><a href="/">home</a></p>
</body>
</html>