<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link href="/css/signup.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h1>Sign up</h1>
    <% if (locals.err) { %>
        <p>Something is wrong or invalid</p>
    <% } %>
    <% if (locals.errors) {%>
        <p>Errors</p>
        <% errors.forEach(err => { %>
            <li>
                <%= err.msg %>
            </li>
        <% }); %>
    <% } %>
    <form action="/sign-up" method="POST">
        <div>
            <label for="firstName">First Name:</label>
            <input name="firstName" type="text" required>
        </div>
        <div>
            <label for="lastName">Last Name:</label>
            <input name="lastName" type="text" required>
        </div>
        <div>
            <label for="username">Username:</label>
            <input name="username" type="text" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input name="password" type="password" required>
        </div>
        <div>
            <label for="confirm-password">Confirm Password:</label>
            <input name="confirm-password" type="password" required>
        </div>
        <button type="submit">Sign Up</button>
    </form>
    <p>Already have an account? <a href="/login">Login Here</a></p>
</body>
</html>