/* ========== Base Setup ========== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px black solid; */
}

body {
  font-family: "Consolas", "Courier New", monospace;
  background-color: #f3f1ed; /* warm off-white beige */
  color: #222;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3em 1em;
  gap: 1em;
  height: 100vh;
}

/* ========== Login Form ========== */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

form input {
    font: inherit;
}

form button {
    background-color: #f3f1ed;
    border: 1px solid #d8d2c7;
    color: #222;
    padding: 0.4em 1em;
    border-radius: 0.4em;
    cursor: pointer;
    transition: 0.3s;
    font: inherit;
    font-size: 1em;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

form button:hover {
  background-color: #e8e4de;
  transition: 0.3s;
}


/* ========== Misc Links & Headings ========== */
a {
  color: #333;
  text-decoration: underline dotted;
}

a:hover {
  text-decoration: underline;
}